.portfolio {
    @include section ();
}

.portfolio-card {
    @extend %reset-list;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-card__item {
    cursor: pointer;
    @include transition-base (box-shadow);
    
    &:hover {
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
}


.portfolio-card__wrapper {
    padding: 20px 24px;
    background-color: $MainColor;
    border: 1px solid $MainBorderColor;
    border-top: none;
    min-width: 322px;
}

.portfolio-card__title {
    @include fonts(18px, 36px, 700, 0.06em);
    margin-bottom: 4px;
}

.portfolio-card__desc {
    color: $SecondaryTextColor;
    @include fonts(16px, 30px);
    }

.portfolio-card__thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-card__img {
    @extend %reset-img;
}

.portfolio-card__overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;

    opacity: 0;

    transform: translateY(100%);

    @include fonts(18px, 28px);
    color: $MainColor;
    background-color:$BgColorOverlay;

    @include transition-base (opacity transform);
    
     .portfolio-card__item:hover & {
                opacity: 1;
                transform: translateY(0);
            }
}

